html {
    background-color: rgba(0, 0, 0, 0.79);
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: rgba(255, 255, 255, 0.841);
}

.table {
    border: 1px solid white;
    border-collapse: collapse;
}

.table_header {
    border: 1px solid white;
    font-size: 25px;

}

.table_row {
    border: 1px solid white;
    padding: 5px;

}

.button_wrapper {
    display: flex;
    gap: 10px;
}

.page {
    border: solid white 0.5px;
}

.current_page {
    background-color: rgba(128, 128, 128, 0.753);
    scale: 1.2;

}

.button {
    width: 100px;
    height: 35px;
    border:  0px;
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.799);
}
.button:hover {
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.500);
}
.button:disabled {
    transition: 0.4s;
    background-color: rgb(91, 91, 91);
    color: black;
}
.fallback {
    font-size: 26px;
    margin: 50px;
}